/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 12, 2020, 2:20:22 PM
    Author     : Admin
*/
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

a:hover {
    text-decoration: none !important;
}

.login-form {
    vertical-align: middle;
    border: 1px solid #47b3ed;
    
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

.center {
    margin-top: 18vh;
}

.bg-admin {
    background: #edaf32;
}

